@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); 


body { 
    font-family: 'Poppins', sans-serif;  
    color: #0a2ff1;
    
}

h1 {
    font-size: 77px;
    font-weight: 700;
}

section img { 
    width: 400px; 
    background-image: url(../img/fondo.JPG);
}

p { font-weight: 500; font-size: 30px;}

span { background-color: #3ffff3;}

section {
    width: 100%;
}

h2 {
    font-weight: 400;
}

div {
    margin: auto; width: 90%;
}

#marcas {
    width: 100%; 
    vertical-align: middle; 
    margin-left: 30px;
}

footer {
     width:100%; 
     text-align: center;
}

.encolumnar {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Cambios en un breakpoint de 768px o menos */
@media screen and (max-width: 768px){
    h1 {
        font-size: 33px;
        font-weight: 400;
    }
    
    section img { 
        width: 200px; 
        background-image: url(../img/fondo.JPG);
    }
    
    p { font-weight: 250; font-size: 15px;}
    
    span { background-color: #3ffff3;}
    
    section {
        width: 100%;
    }
    
    h2 {
        font-weight: 200;
    }
    
    div {
        margin: auto; width: 90%;
    }
    
    
    
    .encolumnar {
        display: flex;
        justify-content: center;
        align-items: center;
}
}